*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:2rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;   
    font-size: 2rem;
}
#player1-score,#player2-score{
    font-size: 2rem;
}
.msg-container{
    margin-top:3.9rem;
}
#msg{
    background-color: #081b31;
    color:#fff;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius:1rem;
}